<div class="center-grid">
    <h1 class="comments-section__title text-accent">{{_('Comments')}}</h1>
</div>
<div class="comments-section center-grid">
    <section class="dashboard-card__container flex">
        <div class="dashboard-card dashboard-card--fit-content">
            <div class="dashboard-card__value">{{comments_statistics.get('approved')}}</div>
            <div class="dashboard-card__title">{{_("approved comments")}}</div>
        </div>
        <div class="dashboard-card dashboard-card--fit-content">
            <div class="dashboard-card__value">{{comments_statistics.get('rejected')}}</div>
            <div class="dashboard-card__title">{{_("rejected comments")}}</div>
        </div>
        <div class="dashboard-card dashboard-card--fit-content">
            <div class="dashboard-card__value">{{comments_statistics.get('pending')}}</div>
            <div class="dashboard-card__title">{{_("pending moderation")}}</div>
        </div>
    </section>
</div>

