<div class="voting-modal-report">
    <a onclick="toggleModal()">
        <i class="fas fa-file-export"></i>
    </a>
    <div id="voting-modal-export" class="voting-modal-report__card voting-modal-report__card--hide">
        <div class="voting-modal-report__triangle"></div>
        <div class="voting-modal-report__content">
            <span>{{_("Export")}}</span>
            <span>
                <a href="{{conversation.get_absolute_url() + 'report/data/votes.json'}}">JSON</a>
                {{_("or")}}
                <a href="{{conversation.get_absolute_url() + 'report/data/votes.csv'}}">CSV</a>
            </span>
        </div>
    </div>
</div>

<script>
    function toggleModal() {
        let exportModal = document.getElementById("voting-modal-export");
        exportModal.classList.toggle("voting-modal-report__card--hide");
    }
</script>