<div class="center-grid">
    <div class="conversation-dashboard voting-section__title flex">
        <h2 class="text-accent">{{_('Voting')}}</h2>
        {% include 'ej_dataviz/report/includes/voting-modal-export.jinja2' %}
    </div>
</div>
<div class="voting-section__container center-grid">
    <section class="flex dashboard-card__container">
            <div class="dashboard-card">
                <div class="dashboard-card__value">{{voting_statistics.get('agree')}}</div>
                <div class="dashboard-card__title">{{_("agreed")}}</div>
            </div>
            <div class="dashboard-card">
                <div class="dashboard-card__value">{{voting_statistics.get('disagree')}}</div>
                <div class="dashboard-card__title">{{_("disagreed")}}</div>
            </div>
            <div class="dashboard-card">
                <div class="dashboard-card__value">{{voting_statistics.get('skip')}}</div>
                <div class="dashboard-card__title">{{_("skip")}}</div>
            </div>
            <div class="dashboard-card dashboard-card--blue">
                <div class="dashboard-card__value">{{voting_statistics.get('total')}}</div>
                <div class="dashboard-card__title">{{_("votes")}}</div>
            </div>
    </section>
</div>

