<div class="terms">
    <textarea readonly class="terms__content">{{widget.privacy_policy}}</textarea>
    <div class="terms__checkbox">
        <label for={{widget.name}}>
            <input id="privacy-terms" type="checkbox" name={{widget.name}} value={{widget.value}}>
            {{_("By clicking, you agree with our privacy policy.")}}</label>
    </div>
</div>