<div id="clusters">
    <h4>{{_("Select one or more clusters")}}</h4>
    <p class="helptext">{{_("Filter participants clusterized on the selected groups.")}}</p>

    <div class="select">
        {% for cluster in conversation_clusters %}
            <div class="option {{"option--selected" if cluster[0] in selected_clusters }}" id="visual_{{cluster[0]}}" onclick="setOption(event, '{{cluster[0]}}')">{{cluster[1]}}</div>
        {% endfor %}
        {% if not conversation_clusters %}
            <span class="helptext select--empty">{{_("There are no clusters on this conversation.")}}</span>
        {% endif %}
    </div>

    <select  id='id_clusters' name="clusters"
        hx-target="#results"
        hx-trigger="change delay:1000ms"
        multiple
        hx-post="{{url('ej_activation:clusters', **{ "board_slug": segment_filter.conversation.board.slug, "slug": segment_filter.conversation.slug, "conversation_id": segment_filter.conversation.id, "pk": segment_filter.id})}}"
        hx-indicator="#spinner">
            {% for cluster in conversation_clusters %}
                <option id="{{cluster[0]}}" value="{{cluster[0]}}" {{"selected" if cluster[0] in selected_clusters }}>{{cluster[1]}}</option>
            {% endfor %}
        </select>
</div>


<script>
function setOption(event, clusterName) {
    select = $("#id_clusters")[0];
    option = $(`#${clusterName}`)[0];

    if (select) {
        select.options[option.index].selected = !select.options[option.index].selected;
        event.target.classList.toggle('option--selected');
        select.dispatchEvent(new Event("change"));
    }
}
</script>
