<h4>{{_("Select voting")}}</h4>
<p class="helptext">{{_("Filter participants based on how they voted.")}}</p>

<div id="comments">
    <div class="select select__comments">
        <div class="stereotype-cards">
            {% for comment in page.object_list %}
            <div id={{comment.id}} class="stereotype-cards__card-comments" >
                   <p>
                       {{comment.content}}
                   </p>
                   <div class="stereotype-cards__vote-buttons">
                       <button
                            type="button"
                            class="is-clear {{'agree-1' if comment.id|string in comments.keys() and comments[comment.id|string] == 1 else '' }}"
                            hx-post="{{url('ej_activation:comments', **{ "board_slug": segment_filter.conversation.board.slug, "slug": segment_filter.conversation.slug, "conversation_id": segment_filter.conversation.id, "pk": segment_filter.id})}}"
                            name="comment"
                            value="{{comment.id}},agree"
                            onClick="setComment(event, 'agree', '{{comment.id}}')"
                            hx-indicator="#spinner"
                            hx-target="#results">
                                <i class="fa fa-check"></i>
                                {{_("Agree")}}
                       </button>
                       <button
                            type="button"
                            class="is-clear {{'skip-0' if comment.id|string in comments.keys() and comments[comment.id|string] == 0 else '' }}"
                            hx-post="{{url('ej_activation:comments', **{ "board_slug": segment_filter.conversation.board.slug, "slug": segment_filter.conversation.slug, "conversation_id": segment_filter.conversation.id, "pk": segment_filter.id})}}"
                            name="comment"
                            onClick="setComment(event, 'skip', '{{comment.id}}')"
                            hx-indicator="#spinner"
                            hx-target="#results"
                            value="{{comment.id}},skip">
                                <i class="far fa-meh"></i>
                                {{_("Skip")}}
                       </button>
                       <button
                            type="button"
                            class="is-clear {{'disagree--1' if comment.id|string in comments.keys() and comments[comment.id|string] == -1 else '' }}"
                            hx-post="{{url('ej_activation:comments', **{ "board_slug": segment_filter.conversation.board.slug, "slug": segment_filter.conversation.slug, "conversation_id": segment_filter.conversation.id, "pk": segment_filter.id})}}"
                            name="comment"
                            onClick="setComment(event, 'disagree', '{{comment.id}}')"
                            hx-target="#results"
                            hx-indicator="#spinner"
                            value="{{comment.id}},disagree">
                                <i class="fa fa-times"></i>
                                {{_("Disagree")}}
                       </button>
                   </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">

            {% if page.has_previous() %}
            <a href=""{{ comments_pagination_url }}?page=1" hx-target="#comments"">&laquo; {{_("first")}}</a>
            <a hx-get="{{ comments_pagination_url }}?page={{page.previous_page_number()}}" hx-target="#comments">{{_("previous")}}</a>
            {% endif %}

            <span class="current">
                {{_("Showing")}} {{ page.number }} {{_("of")}}  {{ page.paginator.num_pages }} {{_("entries")}}.
            </span>

            {% if page.has_next() %}
            <a hx-get="{{ comments_pagination_url }}?page={{page.next_page_number()}}" hx-target="#comments">{{_("next")}}</a>
            <a href="?page={{ page.paginator.num_pages }}">{{_("last")}} &raquo;</a>
            {% endif %}
        </span>
    </div>

    <input type="text" id='id_comments' name="comments">
</div>

<script>

    function unselectVoteOption(comment, option) {
        button = comment.find(`button[class='is-clear ${option}']`);
        if (button.length) {
            button[0].classList.remove(option);
        }
    }

    function setComment(event, choice, comment_id) {
        comment = $(`#${comment_id}`);
        if (choice == 'agree') {
            event.target.classList.toggle("agree-1");
            unselectVoteOption(comment, 'disagree--1');
            unselectVoteOption(comment, 'skip-0');
            return;
        }
        if (choice == 'disagree') {
            event.target.classList.toggle("disagree--1");
            unselectVoteOption(comment, 'agree-1');
            unselectVoteOption(comment, 'skip-0');
            return;
        }
        event.target.classList.toggle("skip-0");
        unselectVoteOption(comment, 'agree-1');
        unselectVoteOption(comment, 'disagree--1');
    }
</script>
