<div id="engagement-level">
    <h4>{{_("Select participation level")}}</h4>
    <p class="helptext">{{_("Filter participants with participation level equal or superior from the informed percentage.")}}</p>
    <div class="participation-level">
        <div>
            <input id="id_participation_level" value="{{segment_filter.engagement_level}}" name="participation_level" type="number"
                hx-post="{{url('ej_activation:engagement-level', **{ "board_slug": segment_filter.conversation.board.slug, "slug": segment_filter.conversation.slug, "conversation_id": segment_filter.conversation.id, "pk": segment_filter.id})}}"
                hx-trigger="keyup changed delay:500ms"
                hx-target="#results"
                hx-indicator="#spinner">
        </div>
        <div class="participation-level__percentage">
            <div>%</div>
        </div>
    </div>
</div>
