{% extends 'base.jinja2' %}

{% set main_class='col flex-start' %}
{% block menu %}{% include 'ej/includes/full-profile-menu.jinja2' %}{% endblock %}

{% block content %}
    {% block page_content %}{% endblock %}
{% endblock %}

