{% extends 'base.jinja2' %}
{% set main_class = 'measure-wide margin-xauto' %}
{% block menu %}{% include 'ej_conversations/includes/menu-detail.jinja2' %}{% endblock %}


{% block content %}
    <section>
        <div class="content-grid header-space">
            <div>
                {% block report %}{% endblock %}
            </div>
            {% include 'ej_dataviz/includes/datatables.jinja2' %}
        </div>
    </section>
{% endblock %}
