@import '../node_modules/mendeleev.css/src/elements';

label + input + br,
label + textarea + br,
label + select + br {
    display: none;
}

input + .helptext,
textarea + .helptext,
select + .helptext,
input + br + .helptext,
textarea + br + .helptext,
select + br + .helptext {
    @extend legend;
    margin-top: size(0.25) - $mendeleev-label-margin-bottom !important;
    margin-bottom: size(1);
    margin-left: size(0.5);
}

.helptext {
    font-size: 1rem;
    text-align: left;
    color: $color-theme-report-dark-gray;
    &-center{
    text-align: center;
    max-width: 50%;
    margin: auto;
    }
}

label + ul.errorlist {
    margin-top: size(-0.5);
    margin-bottom: 0;

    & > li:last-child {
        margin-bottom: 0;
    }
}

ul.errorlist {
    color: color('red');
    font-size: 0.75rem;
    font-weight: 600;
    list-style: none;
    margin: size(0.25);
    text-align: left;
}

.terms {
    &__content {
        height: 20rem;
        overflow: scroll;
        font-size: .9rem;
    }
    &__checkbox {
        text-align: center;
        font-size: .8rem;
    }
    label {
        text-transform: unset;
    }
}


//overwrite mendeleev rules
legend,
textarea,
label,
input {
    max-width: unset !important;
    text-indent: unset !important;
}
input:not(.button) {
    border: 1px solid color('brand') !important;
    border-radius: 0.3125rem !important;
}
legend {
    margin: unset !important;
    text-align: unset !important;
}

.content-grid {
    grid-template-columns: minmax(6%, auto) minmax(auto, 1000px) minmax(6%, auto);
    display: grid;
}
.content-grid > * {
    grid-column: 2;
}

.loader {
    width: 18px;
    height: 18px;
    border: 2px solid $color-accent;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: none;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-top: 2rem;
}
.hide {
    display: none !important;
    opacity: 0;
}
.show {
    display: block !important;
    opacity: 1;
}
.htmx-request .loader{
    display:inline;
}
.htmx-request.loader{
    display:inline;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 900px) {
    .content-grid {
        grid-template-columns: 2% auto 2%;
    }
}
