{% extends 'ej_conversations/base.jinja2' %}
{% block menu %}{% include 'ej_conversations/includes/menu-detail.jinja2' %}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/ej_activation/css/ej_activation.css" />
{% endblock %}


{%block content %}
    <section class="content-grid content-grid--padding activation-grid">
        <ul class="segments-list">
            {% for segment in object_list %}
                <li>
                    <a href= {{url('ej_activation:detail', **{"board_slug": conversation.board.slug, "slug": conversation.slug, "conversation_id": conversation.id, "pk": segment.id})}}>
                        {{_("Segment")}} {{segment.id}}
                    </a>
                </li>
            {% endfor %}
        <a href="{{url('ej_activation:add', **{ "board_slug": conversation.board.slug, "slug": conversation.slug, "conversation_id": conversation.id})}}"
            class="button is-primary" target="_blank">{{_("New")}}</a>
        </ul>
    </section>
{% endblock %}
