<!-- Favicons -->
<link rel="icon" href="{{ static('img/logo/logo.svg') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ static('img/logo/crop-icon-48.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ static('img/logo/crop-icon-96.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ static('img/logo/crop-icon-192.png') }}">
<link rel="shortcut icon" href="{{ static('img/logo/favicon.ico') }}">
<meta name="msapplication-TileImage" content="{{ static('img/logo/icon-144.png') }}">
<meta name="msapplication-TileColor" content="#ffffff') }}">
<meta name="image" content="{{ static('img/logo/logo.svg') }}">
