{% extends 'base.jinja2' %}

{% set main_class = "form-container" %}
{% set next = ('?next=' + next if next else '') %}
{% set title_level = 1 %}
{% block menu %}{% include 'ej_users/includes/menu.jinja2' %}{% endblock %}


{% block content %}
    

    {% block form_data %}{% endblock %}

    <h2 class="screen-reader center">{{ _('Other options') }}</h2>
    {# SOCIAL LOGIN #}
    {% if social_buttons|default(false) %}
        {{ social_js }}
        {% include 'ej_users/includes/social-buttons.jinja2' %}
    {% endif %}
    {% block form_footer %}{% endblock %}
{% endblock %}


{% block javascript %}
    {{ super() }}
    <script>
        window.addEventListener('load', function () {
            var el = $('.errorlist').attr({role: 'alert'})[0];
            if (el) {
                $(el.previousElementSibling).focus();
            }
        })
    </script>
{% endblock %}
