{% extends 'ej_users/base.jinja2' %}
{% set message_err = _('') %}


{% block form_data %}
    <h2 class="h2 text-accent center" aria-hidden="true">{{ _("Recover password") }}</h2>
    <img class="size-6 pad-t3 block relative margin-xauto" src="{{ static('/img/login/login.svg') }}" style="left: 1rem" alt="">
    {% if is_expired %}
        <p>{% trans %}It looks like you clicked on an invalid password reset link.{% endtrans %}</p>
    {% endif %}
    <form method="post" class="measure-narrow width-full">
        {{ csrf_input }}
        {{ form }}
        <div class="margin-y3 margin-xauto">
            <input type="submit" name="submit" value="{{ _('Update') }}" class="width-full is-primary">
        </div>
    </form>
    <a href="{{ url('auth:recover-password') }}" class="is-primary">{{ _('Try again') }}</a>
{% endblock %}
